@media screen and (max-width: 500px) {
    .grid-container {
        margin: 0;
        display: grid;
        grid-template-areas: "head head head" "main main main" "main main main";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        }
}